<div class="container" dir="{languge}">
  <br><br>
  <h2> {{"title"|translate :lan}}  </h2>
  <h4> {{"title2"|translate :lan}} </h4>
  <form action="/action_page.php">
    <div class="mb-3 mt-3">
      <label for="email" class="form-label"> {{"Email"|translate :lan}}</label>
      <input type="email" class="form-control" id="email" name="email" [(ngModel)] ="email">
    </div>
    <div class="mb-3">
      <label for="pwd" class="form-label"> {{"Password"|translate :lan}} </label>
      <input type="password" class="form-control" id="pwd" name="pswd" [(ngModel)] ="password">
    </div>
    <div class="form-check mb-3">
      <label class="form-check-label">
        <input class="form-check-input-dark" type="checkbox" name="remember">  {{"RememberMe"|translate :lan}} 
      </label>
    </div>
    <button type="submit" class="btn btn-dark" (click) = "send()"> {{"Submit"|translate :lan}} </button>
    <br>
    <button type="button" class="btn btn-dark" (click) = "isHeb=!isHeb"> {{"changeLang"|translate :lan}} </button>
  </form>
</div>